* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.clearfix {
	content: "";
	display: block;
	clear: both;
}
a {
	text-decoration: none;
}
 li {
	list-style: none;
}
h2 {
	margin: auto;
	font-size: 32px;
	color: #000000;
	padding: 90px 0 8px;
	text-align:center;
}
.border {
	border-bottom: 3px solid #EC715F;
	width: 70px;
	margin:0 auto;
}
header {
	background-color: #EC715F;
	height: 70px;
	width: 100%;
}
header img{
	height: 70px;
	float: left;
}
.header-box {
	width: 1024px;
	margin: 0 auto;
}
header ul {
	float: right;
}
header li {
	float: left;
	padding: 0 30px;
	line-height: 70px;
}
header a{
	color: #FAFAFA;
}
section {
	background-image: url(../img1-10/mv.png);
	background-size: cover;
	background-position: center;
	height: 650px;
	width: 100%;
	color: #FAFAFA;
	text-align: center;
}
section h1 {
	padding-top: 200px;
	font-size: 64px;
}
section p {
	padding-top: 10px;
	font-size: 20px;
}
.port-item {
	background-color: #ECEFF1;
}
.portfolio {
	background-size: cover;
	width: 920px;
	margin: 0 auto;
	height: 880px;
}
.portfolio p {
	padding: 30px 0;
	text-align: center;
}
.portforios {
	padding-bottom: 90px;
}
.img-item {
	height: 250px;
	width: 300px;
	float: left;
	background-size: cover;
	background-position: center;
	margin: 0 10px 0 0;
}
.img-item:nth-child(3n) {
	margin: 0 0 10px 0;
}
.po-img1 {
	background-image: url(../img1-10/sketch.jpg);
}
.po-img2 {
	background-image: url(../img1-10/websuku.png);
}
.po-img3 {
	background-image: url(../img1-10/write.jpg);
}
.po-img4 {
	background-image: url(../img1-10/webcamp.png);
}
.po-img5 {
	background-image: url(../img1-10/talk.jpg);
}
.po-img6 {
	background-image: url(../img1-10/webcamp-mother.png);
}
.feature {
	width: 980px;
	margin: 0 auto;
	height: 700px;
	position: relative;
}
.feature .feature-top {
	padding: 30px 0;
	text-align: center;
}
.content {
	float: left;
	display: inline-block;
	padding: 10px 0;
	overflow: hidden;
	height: auto;
	margin-bottom: 90px;
	width: 320px;
}
.content h3 {
	text-align: center;
	margin-top: 80px;
	padding: 10px 0;
}
.content .feature-txt {
	font-size: 16px;
	color:#000000;
	padding: 0 10px;
	text-align: left;
}
.content .feature-txt:nth-child(3n) {
	padding-right: 0;
}
.fas {
	position: absolute;
}
.fa-money-bill-wave {
	top: 310px;
	left: 130px;
}
.fa-child {
	top: 310px;
	left: 470px;
	font-weight: solid;
	}
.fa-smoking {
	top: 310px;
	right: 140px;
}
.prof-box {
	background-color: #ECEFF1;
}
.profile {
	width: 1024px;
	margin: 0 auto;
	overflow: hidden;
	height: auto;
}
.prof-top {
	text-align: center;
	padding:30px 0;
}
.prof-item {
	width: 512px;
	float: left;
}
.prof-box h2 {
	padding-top: 60px;
}
.prof-box h3 {
	font-size: 20px;
	padding-bottom: 5px;
}
.prof-box p {
	padding-bottom: 20px;
}
.gentle {
	height: 250px;
	width: 250px;
	background-image: url(../img1-10/my-icon.jpg);
	background-size: cover;
	background-position: center;
	border-radius: 50%;
	margin: 0 auto;
	margin-bottom: 90px;
}

.contact {
	width: 800px;
	margin: 0 auto;
	height: auto;
	position: relative;
}
.contact .mee-item {
	padding: 30px 0 90px;
	width: 400px;
	margin-left: 120px;
}
.contact p {
	padding: 30px;
	text-align:center;
}
.contact ul {
	float:right;
}
.contact li {
	float:left;
}
.fa-gift {
	position: absolute;
	bottom: 140px;
	right: 147px;
}
.fa-twitter {
	position: absolute;
	bottom: 138px;
	right: 70px;
}
.fa-instagram {
	position: absolute;
	bottom: 138px;
	right: 0;
}
.contact-logo {
	position: absolute;
	bottom: 190px;
	right: 160px;
}

footer {
	background-color: #EC715F;
	height: 60px;
	text-align: center;
}
footer p {
	text-align: center;
	font-size: 16px;
	color: #FAFAFA;
	line-height: 60px;
}