* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}
a {
	text-decoration: none;
}
 li {
	list-style: none;
}
h2 {
	margin: auto;
	font-size: 32px;
	color: #000000;
	padding: 90px 0 8px;
	text-align:center;
}
.border {
	border-bottom: 3px solid #EC715F;
	width: 70px;
	margin:0 auto;
}
header {
	background-color: #EC715F;
	height: 70px;
	width: 100%;
}
header img{
	height: 70px;
	float: left;
}
.header-box {
	width: 1024px;
	margin: 0 auto;
}
header ul {
	float: right;
}
header li {
	float: left;
	padding: 0 30px;
	line-height: 70px;
}
header a{
	color: #FAFAFA;
}
section {
	background-image: url(../img1-10/mv.png);
	background-size: cover;
	background-position: center;
	height: 650px;
	width: 100%;
	color: #FAFAFA;
	text-align: center;
}
section h1 {
	padding-top: 200px;
	font-size: 64px;
}
section p {
	padding-top: 10px;
	font-size: 20px;
}
.port-item {
	background-color: #ECEFF1;
}
.portfolio {
	background-size: cover;
	width: 920px;
	margin: 0 auto;
	height: 880px;
}
.portfolio p {
	padding: 30px 0;
	text-align: center;
}
.portforios {
	padding-bottom: 90px;
}
.img-item {
	height: 250px;
	width: 300px;
	float: left;
	background-size: cover;
	background-position: center;
	margin: 0 10px 0 0;
}
.img-item:nth-child(3n) {
	margin: 0 0 10px 0;
}
.po-img1 {
	background-image: url(../img1-10/sketch.jpg);
}
.po-img2 {
	background-image: url(../img1-10/websuku.png);
}
.po-img3 {
	background-image: url(../img1-10/write.jpg);
}
.po-img4 {
	background-image: url(../img1-10/webcamp.png);
}
.po-img5 {
	background-image: url(../img1-10/talk.jpg);
}
.po-img6 {
	background-image: url(../img1-10/webcamp-mother.png);
}
.feature {
	width: 980px;
	margin: 0 auto;
	height: 700px;
	position: relative;
}
.feature .feature-top {
	padding: 30px 0;
	text-align: center;
}
.content {
	float: left;
	display: inline-block;
	padding: 10px 0;
	overflow: hidden;
	height: auto;
	margin-bottom: 90px;
	width: 320px;
	text-align: center;
}
.content h3 {
	text-align: center;
	margin-top: 80px;
	padding: 10px 0;
}
.content .feature-txt {
	font-size: 16px;
	color:#000000;
	padding: 0 10px;
	text-align: left;
}
.content .feature-txt:nth-child(3n) {
	padding-right: 0;
}
.prof-box {
	background-color: #ECEFF1;
}
.profile {
	width: 1024px;
	margin: 0 auto;
	overflow: hidden;
	height: auto;
}
.prof-top {
	text-align: center;
	padding:30px 0;
}
.prof-item {
	width: 512px;
	float: left;
}
.prof-box h2 {
	padding-top: 60px;
}
.prof-box h3 {
	font-size: 20px;
	padding-bottom: 5px;
}
.prof-box p {
	padding-bottom: 20px;
}
.gentle {
	height: 250px;
	width: 250px;
	background-image: url(../img1-10/my-icon.jpg);
	background-size: cover;
	background-position: center;
	border-radius: 50%;
	margin: 0 auto;
	margin-bottom: 90px;
}

.contact {
	width: 800px;
	margin: 0 auto;
	height: auto;
	padding: 30px 0 90px;
}
.contact p {
	padding: 30px;
	text-align:center;
}
.contact ul {
	float:right;
}
.contact li {
	float:left;
}

.mee-item{
	width:800px;
}

.mee{
	width:400px;
	float: left;
}
.sns_box{
	width:400px;
	float: left;
}

.mini_box{
	width: 200px;
	margin: 0 auto;
}

footer {
	background-color: #EC715F;
	height: 60px;
	text-align: center;
}
footer p {
	text-align: center;
	font-size: 16px;
	color: #FAFAFA;
	line-height: 60px;
}

@media screen and (max-width:767px) {
	.wrap {
	overflow: hidden;
	}
	section {
		background-image: url(../img1-10/code.png);
		width: 100%;
		height: 650px;
	}
	header {
		height: 50px;
	}
	header img {
		height: 50px;
		float: none;
	}
	h1 {
		padding: 200px 0 0;
	}
	.header-box {
		height: 50px;
		width: 90%;
	}
	.hm {
		float: right;
		width: 40px;
		height: 40px;
		margin-right: 5%;
		border: 1px solid #FAFAFA;
		margin-top: 5px;
		margin-bottom: 5px;
	}
	.list-bar:first-child {
		margin-top: 10px;
	}
	.list-bar {
		display: block;
		width: 25px;
		height: 2px;
		margin: 5px auto;
		background-color: #FAFAFA;
	}
	.nav-list {
		display:none;
		float: none;
		width: 100%;
		line-height: 50%;
		border-bottom: 1px solid gray;
		text-align: center;
		background-color: black;
	}
	section h1 {
		padding-top: 200px;
		font-size: 40px;
		height: auto;
	}
	section p {
		padding-top: 10px;
		font-size: 18px;
	}
	.port-item {
		padding-bottom:90px;
	}
	.portfolio {
		width: 90%;
		color: #000000;
		overflow: hidden;
		height: auto;
	}
	.portfolio h2 {
		font-size: 32px;
		padding: 90px 0  8px;
	}
	.portfolio p {
		padding: 30px 0;
		font-size: 16px;
	}
	.portfolios {
		height:250px;
		width: 300px;
		margin: 0 auto;
	}
	.img-item {
		margin: 10px auto;
	}
	.img-item:nth-child(2) {
		margin: 0 auto;
	}
	.po-img1 {
		display:none;
	}
	.po-img3 {
		display:none;
	}
	.po-img5 {
		display:none;
	}
	.feature {
		width: 90%;
		height: auto;
		overflow: hidden;
		position: relative;
		float: none;
	}
	.feature .content {
		float:none;
		margin: 0 auto;
		padding: 30px;
	}
	.feature h2 {
		text-align: center;
	}
	.feature h3 {
		padding:0 0 0 8px;
		margin-top: 30px;
	}
	.profile {
		width: 90%;
		height: auto;
		margin: 0 auto;
	}
	.prof-item {
		text-align:center;
		width: 100%;
	}
	.gentle {
		margin:0 auto;
	}
	.profile h3 {
		margin: 20px 0 5px;
	}
	.prof-box p{
		padding-bottom :0;
	}
	.last-p {
		margin-bottom: 90px;
	}
	.contact-box {
		width: 100%;
	/*	padding: 0.5%;*/
		height: auto;
	}
	.contact-item {
		width: 100%;
	}
	.mee-item {
		margin: 0 auto;
		text-align: center;
		float:none;
	}
	.mee {
		float: none;
		text-align: center;
	}
	.contact {
		width: 100%;
		float:none;
		text-align:center;
	}
	.sns_box {
		float:none;
		text-align: center;
	}
}