* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	width: 960px;
	margin: 0 auto;
}
li{
	list-style: none;
	padding: 20px 0 20px 20px;
}
.list{
	padding-top: 50px;
}
.list-item:nth-child(odd){
	background-color: #EEE;
}
.clearfix::after{
	content: "";
	display: block;
	clear: ;
}
.boxes{
	padding: 50px 0 50px;
}

.box{
	background-color: #FFE011;
	height: 200px;
	width: 30%;
	float: left;
	margin-bottom: 40px;
	margin-right: 5%;
}

.box:nth-child(3n){
	margin-right: 0;
}

.box:first-child,
.box:nth-child(5),
.box:last-child{
	background-color: #ff8000;
}

